-# Main layout for each page. current_page identifies page (eg: index.html).
-email    = "mailto:philharnish@gmail.com"
-source   = "http://github.com/PhilHarnish/philharnish.com/"
-license  = "http://creativecommons.org/licenses/publicdomain/"
-tumble   = "http://philharnish.tumblr.com/"
-twitter  = "http://twitter.com/philharnish"
-facebook = "http://www.facebook.com/philharnish"
-github   = "http://github.com/PhilHarnish/"
-flickr   = "http://www.flickr.com/photos/philharnish/"
-ffeed    = "http://friendfeed.com/philharnish"
-resume   = "http://www.linkedin.com/in/philharnish"
-foaf     = "/foaf.rdf"
-foaf_inc = { :type => "application/rdf+xml", :title => "FOAF" }
-myid     = "http://philharnish.myopenid.com/"
-idserver = "http://www.myopenid.com/server/"
-remainder="http://socialgraph-resources.googlecode.com/svn/trunk/samples/findyours.html?q=philharnish.com"
-current_page_name = current_page.split('/').last.split('.').first
-pages  = ["index", "means", "method"]
-titles = {"index"=>"the motive,", "means"=>"means,", "method"=>"&amp; method."}
!!! XML
!!! Strict
/ Source available online http://github.com/PhilHarnish/philharnish.com/
%html{html_attrs('en')}
  %head
    %title Phil Harnish
    = stylesheets
    = javascripts('jquery', 'extra')
    %link{ {:href => foaf, :rel => "meta"}, foaf_inc }
    %link{ :href => idserver, :rel => "openid2.provider" }
    %link{ :href => idserver, :rel => "openid.server" }
    %link{ :href => myid, :rel => "openid2.local_id" }
    %link{ :href => myid, :rel => "openid.delegate" }
    %meta{ :name => "description", |
           :content => "Phil Harnish: The motive, means, and method."} |
  %body
    %h1#header Phil Harnish
    %ol#nav
      - pages.each do |page_name|
        %li{ :id => page_name }
          %a{ :href => "#{page_name}.html" }
            - if page_name == current_page_name
              %span.location &raquo;
            %span= titles[page_name]
    #content
      = yield
    #footer
      %p#less
        :plain
          <a href="#{email}" rel="me">email</a>,
          <a href="#{resume}" rel="me">resume</a>,
          <a href="#{tumble}" rel="me">tumble log</a>
          (<a href="#{source}">source</a>,
          <a href="#{license}">no rights reserved</a>)
      %p#more
        :plain
          <a href="#{twitter}" rel="me">twitter</a>,
          <a href="#{facebook}" rel="me">facebook</a>,
          <a href="#{github}" rel="me">github</a>,
          <a href="#{flickr}" rel="me">flickr</a>,
          <a href="#{ffeed}" rel="me">friendfeed</a>,
          <a href="#{remainder}">remainder</a>
